[submodule "bundle/vim-python"]
	path = bundle/vim-python
	url = git://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = git://github.com/vim-scripts/Puppet-Syntax-Highlighting.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-pyflakes"]
	path = bundle/vim-pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/vim-pep8"]
	path = bundle/vim-pep8
	url = git://github.com/vim-scripts/pep8.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
