[submodule "bundle/vim-python"]
	path = bundle/vim-python
	url = git://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = git://github.com/vim-scripts/Puppet-Syntax-Highlighting.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-pyflakes"]
	path = bundle/vim-pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
